.TodoItem {
  background: #ffffff1c;
  width: 95%;
  border-radius: 7px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 24px;
  box-shadow: 0px 5px 15px rgba(32, 35, 41, 0.15);
}

.TodoItem-p {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #fafafa;
}
.TodoItem-p--complete {
  text-decoration: line-through;
}
